.Login{
    text-align: center;
}
.Login-Container{
    width: 100%;
    height: 50%;
    background: grey;
    margin: 40px;
}
.Login-Header{
    text-align: center;
    margin: 10px;
}
.Login-Input{
    margin: 20px;
    align-items: center;
}
.Login-Col{
    width: 30%;
    align-items: center;
}
.Login-Form{
    align-items: center;
}
.Login-Button{
    width: 90px;
    background-color: blue;
    align-items: center;
    margin: 10px;
    color: blue;
}